## Project Proposal:  An Analysis of flight delays and frequent airline routes

Based on various flying factors such as on-time, delayed, canceled, and diverted flights, the U.S. Department of Transportation's (DOT) Bureau of Transportation Statistics tracks the on-time performance of domestic flights operated by large air carriers. Our original dataset is a humongous monthly summarization of first 3 months in 2015 with 10,48,576 data values, which was further narrowed down to Jan 2015 with 4,69,969 data values. 


We observed that of all the 14 airlines, United Air Lines Inc. was on time for the max count of 1955 even though the airline seemed to have the maximum delay duration! On the other hand, Southwest Airlines Co. had the highest Delay Count of all the 14 airlines as compare to Virgin America that had the least delays.

The most frequent round-trip airline routes found between Los Angeles - New York with a max count of 2166 flights in the month of Jan 2015 whereas San Francisco - Los Angeles had the 2nd most frequent round-trip airline routes with 2149 flights.

# Data Source
Our project was developed using datasets from the following links on Kaggle:

https://www.kaggle.com/usdot/flight-delays#flights.csv

https://www.kaggle.com/usdot/flight-delays#airports.csv

https://www.kaggle.com/usdot/flight-delays#airlines.csv

### Importing Dependencies and Libraries

In [1]:
#Dependencies
import os
import pandas as pd
from sqlalchemy import create_engine
from config import password

### EXTRACT: Loading Data from CSV to Pandas DataFrame
We extracted each of the three .csv files and loaded them in their respective dataframes:
* flights_jan_df
* airports_df
* airlines_df

In [2]:
#Load data into DataFrame
flights_csv = "flights_jan.csv"
flights_jan_df = pd.read_csv(flights_csv)
airports_csv = 'airports.csv'
airports_df = pd.read_csv(airports_csv)
airlines_csv = 'airlines.csv'
airlines_df = pd.read_csv(airlines_csv)
airlines_df

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

### TRANSFORM: Renaming columns
Using pandas `rename` function on the dataframe, we renamed the column IATA CODE to Airline Code to simplify our columns from other .csv files.

In [3]:
airlines_df = airlines_df.rename(columns={'IATA_CODE': 'Airline Code'})
airlines_df.dtypes

Airline Code    object
AIRLINE         object
dtype: object

### TRANSFORM: Cleaning the Raw Data using Pandas
Using Pandas `drop` function, we cleaned up our raw data to drop columns that were not needed for our steps below, thus tapering down to see only what we need. We also removed the null values using `dropna` function.

In [4]:
#Drop unwanted columns
flights_jan_df = flights_jan_df.drop(['TAIL_NUMBER','TAXI_OUT','ELAPSED_TIME','AIR_TIME','DISTANCE','WHEELS_ON','TAXI_IN','WHEELS_OFF','CANCELLATION_REASON','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY','DIVERTED','CANCELLED'], axis=1)
flights_jan_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
0,2015,1,1,4,AS,98,ANC,SEA,5,2354.0,-11.0,205,430,408.0,-22.0
1,2015,1,1,4,AA,2336,LAX,PBI,10,2.0,-8.0,280,750,741.0,-9.0
2,2015,1,1,4,US,840,SFO,CLT,20,18.0,-2.0,286,806,811.0,5.0
3,2015,1,1,4,AA,258,LAX,MIA,20,15.0,-5.0,285,805,756.0,-9.0
4,2015,1,1,4,AS,135,SEA,ANC,25,24.0,-1.0,235,320,259.0,-21.0

In [5]:
#Drop NaN values
flights_jan_df = flights_jan_df.dropna(how='any')
flights_jan_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
0,2015,1,1,4,AS,98,ANC,SEA,5,2354.0,-11.0,205,430,408.0,-22.0
1,2015,1,1,4,AA,2336,LAX,PBI,10,2.0,-8.0,280,750,741.0,-9.0
2,2015,1,1,4,US,840,SFO,CLT,20,18.0,-2.0,286,806,811.0,5.0
3,2015,1,1,4,AA,258,LAX,MIA,20,15.0,-5.0,285,805,756.0,-9.0
4,2015,1,1,4,AS,135,SEA,ANC,25,24.0,-1.0,235,320,259.0,-21.0

### TRANSFORM: Fine-tuning column values
In the below step, we fine-tuned our dataframes for individual columns: Scheduled Departure, Departure Time, Scheduled Arrival and Arrival Time. We utilized `%0 4d"%i` to display the time  values to make it look more readable, eliminating inconsistent values format that would have been a hindrance to our SQL DB setup.

In [6]:
flights_jan_df['SCHEDULED_DEPARTURE'] = ["%0 4d"%i for i in flights_jan_df['SCHEDULED_DEPARTURE']]
flights_jan_df['DEPARTURE_TIME'] = ["%04d"%i for i in flights_jan_df['DEPARTURE_TIME']]
flights_jan_df['SCHEDULED_ARRIVAL'] = ["%04d"%i for i in flights_jan_df['SCHEDULED_ARRIVAL']]
flights_jan_df['ARRIVAL_TIME'] = ["%04d"%i for i in flights_jan_df['ARRIVAL_TIME']]
flights_jan_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY
0,2015,1,1,4,AS,98,ANC,SEA,005,2354,-11.0,205,0430,0408,-22.0
1,2015,1,1,4,AA,2336,LAX,PBI,010,0002,-8.0,280,0750,0741,-9.0
2,2015,1,1,4,US,840,SFO,CLT,020,0018,-2.0,286,0806,0811,5.0
3,2015,1,1,4,AA,258,LAX,MIA,020,0015,-5.0,285,0805,0756,-9.0
4,2015,1,1,4,AS,135,SEA,ANC,025,0024,-1.0,235,0320,0259,-21.0

In [7]:
#Inspect dtypes
#flights_jan_df.dtypes

### TRANSFORM: Obtaining Delay_count, Delay_duration, Ontime_count, Early_count, Early_duration for each Airlines
Using `groupby` and `get_group`, we then grouped all the 14 airlines sequentially to find the counts and durations for each individual airline.

In [8]:
grouped_airlines = flights_jan_df.groupby('AIRLINE')
UA = grouped_airlines.get_group('UA')
AA = grouped_airlines.get_group('AA')
US = grouped_airlines.get_group('US')
F9 = grouped_airlines.get_group('F9')
B6 = grouped_airlines.get_group('B6')
OO = grouped_airlines.get_group('OO')
AS = grouped_airlines.get_group('AS')
NK = grouped_airlines.get_group('NK')
WN = grouped_airlines.get_group('WN')
DL = grouped_airlines.get_group('DL')
EV = grouped_airlines.get_group('EV')
HA = grouped_airlines.get_group('HA')
MQ = grouped_airlines.get_group('MQ')
VX = grouped_airlines.get_group('VX')

### TRANSFORM: Creating Empty Lists
Here we created five empty lists required to load flight delay, count and duration.

In [9]:
delay_count = []
delay_duration = []
early_count = []
early_duration = []
ontime_count = []

In [10]:
#UA counts & durations

UA_delay_count = 0
UA_delay_duration = 0
UA_early_count = 0
UA_early_duration = 0
UA_ontime_count = 0
for i in UA['DEPARTURE_DELAY']:
    if i < 0:
        UA_early_count += 1
        UA_early_duration = UA_early_duration - i
    elif i == 0:
        UA_ontime_count += 1
    elif i > 0:
        UA_delay_count += 1
        UA_delay_duration = UA_delay_duration + i
(UA_delay_count, UA_delay_duration, UA_ontime_count, UA_early_count, UA_early_duration)

(20202, 587865.0, 1955, 15206, 69059.0)

In [11]:
UA_delay_count

20202

In [12]:
#AA counts & durations

AA_delay_count = 0
AA_delay_duration = 0
AA_early_count = 0
AA_early_duration = 0
AA_ontime_count = 0
for i in AA['DEPARTURE_DELAY']:
   if i < 0:
       AA_early_count += 1
       AA_early_duration = AA_early_duration - i
   elif i == 0:
       AA_ontime_count += 1
   elif i > 0:
       AA_delay_count += 1
       AA_delay_duration = AA_delay_duration + i
(AA_delay_count, AA_delay_duration, AA_ontime_count, AA_early_count, AA_early_duration)

(16512, 582400.0, 1901, 24661, 128041.0)

In [13]:
AA_delay_count

16512

In [14]:
#US counts & durations

US_delay_count = 0
US_delay_duration = 0
US_early_count = 0
US_early_duration = 0
US_ontime_count = 0
for i in US['DEPARTURE_DELAY']:
   if i < 0:
       US_early_count += 1
       US_early_duration = US_early_duration - i
   elif i == 0:
       US_ontime_count += 1
   elif i > 0:
       US_delay_count += 1
       US_delay_duration = US_delay_duration + i
(US_delay_count, US_delay_duration, US_ontime_count, US_early_count, US_early_duration)

(10008, 273101.0, 1488, 20982, 105027.0)

In [15]:
US_delay_count

10008

In [16]:
#F9 counts & durations

F9_delay_count = 0
F9_delay_duration = 0
F9_early_count = 0
F9_early_duration = 0
F9_ontime_count = 0
for i in F9['DEPARTURE_DELAY']:
   if i < 0:
       F9_early_count += 1
       F9_early_duration = F9_early_duration - i
   elif i == 0:
       F9_ontime_count += 1
   elif i > 0:
       F9_delay_count += 1
       F9_delay_duration = F9_delay_duration + i
(F9_delay_count, F9_delay_duration, F9_ontime_count, F9_early_count, F9_early_duration)

(2974, 145765.0, 231, 3530, 25136.0)

In [17]:
F9_delay_count

2974

In [18]:
#B6 counts & durations

B6_delay_count = 0
B6_delay_duration = 0
B6_early_count = 0
B6_early_duration = 0
B6_ontime_count = 0
for i in B6['DEPARTURE_DELAY']:
   if i < 0:
       B6_early_count += 1
       B6_early_duration = B6_early_duration - i
   elif i == 0:
       B6_ontime_count += 1
   elif i > 0:
       B6_delay_count += 1
       B6_delay_duration = B6_delay_duration + i
(B6_delay_count, B6_delay_duration, B6_ontime_count, B6_early_count, B6_early_duration)

(7826, 273265.0, 975, 11681, 68684.0)

In [19]:
B6_delay_count

7826

In [20]:
#OO counts & durations

OO_delay_count = 0
OO_delay_duration = 0
OO_early_count = 0
OO_early_duration = 0
OO_ontime_count = 0
for i in OO['DEPARTURE_DELAY']:
   if i < 0:
       OO_early_count += 1
       OO_early_duration = OO_early_duration - i
   elif i == 0:
       OO_ontime_count += 1
   elif i > 0:
       OO_delay_count += 1
       OO_delay_duration = OO_delay_duration + i
(OO_delay_count, OO_delay_duration, OO_ontime_count, OO_early_count, OO_early_duration)

(16449, 731503.0, 1899, 28307, 171645.0)

In [21]:
OO_delay_count

16449

In [22]:
#AS counts & durations

AS_delay_count = 0
AS_delay_duration = 0
AS_early_count = 0
AS_early_duration = 0
AS_ontime_count = 0
for i in AS['DEPARTURE_DELAY']:
   if i < 0:
       AS_early_count += 1
       AS_early_duration = AS_early_duration - i
   elif i == 0:
       AS_ontime_count += 1
   elif i > 0:
       AS_delay_count += 1
       AS_delay_duration = AS_delay_duration + i
(AS_delay_count, AS_delay_duration, AS_ontime_count, AS_early_count, AS_early_duration)

(3577, 104507.0, 585, 8989, 64106.0)

In [23]:
AS_delay_count

3577

In [24]:
#NK counts & durations

NK_delay_count = 0
NK_delay_duration = 0
NK_early_count = 0
NK_early_duration = 0
NK_ontime_count = 0
for i in NK['DEPARTURE_DELAY']:
   if i < 0:
       NK_early_count += 1
       NK_early_duration = NK_early_duration - i
   elif i == 0:
       NK_ontime_count += 1
   elif i > 0:
       NK_delay_count += 1
       NK_delay_duration = NK_delay_duration + i
(NK_delay_count, NK_delay_duration, NK_ontime_count, NK_early_count, NK_early_duration)

(3700, 140911.0, 333, 4599, 28064.0)

In [25]:
NK_delay_count

3700

In [26]:
#WN counts & durations

WN_delay_count = 0
WN_delay_duration = 0
WN_early_count = 0
WN_early_duration = 0
WN_ontime_count = 0
for i in WN['DEPARTURE_DELAY']:
   if i < 0:
       WN_early_count += 1
       WN_early_duration = WN_early_duration - i
   elif i == 0:
       WN_ontime_count += 1
   elif i > 0:
       WN_delay_count += 1
       WN_delay_duration = WN_delay_duration + i
(WN_delay_count, WN_delay_duration, WN_ontime_count, WN_early_count, WN_early_duration)

(43588, 1111823.0, 6416, 48056, 184820.0)

In [27]:
WN_delay_count

43588

In [28]:
#DL counts & durations

DL_delay_count = 0
DL_delay_duration = 0
DL_early_count = 0
DL_early_duration = 0
DL_ontime_count = 0
for i in DL['DEPARTURE_DELAY']:
   if i < 0:
       DL_early_count += 1
       DL_early_duration = DL_early_duration - i
   elif i == 0:
       DL_ontime_count += 1
   elif i > 0:
       DL_delay_count += 1
       DL_delay_duration = DL_delay_duration + i
(DL_delay_count, DL_delay_duration, DL_ontime_count, DL_early_count, DL_early_duration)

(19440, 526879.0, 4807, 39429, 151941.0)

In [29]:
DL_delay_count

19440

In [30]:
#EV counts & durations

EV_delay_count = 0
EV_delay_duration = 0
EV_early_count = 0
EV_early_duration = 0
EV_ontime_count = 0
for i in EV['DEPARTURE_DELAY']:
   if i < 0:
       EV_early_count += 1
       EV_early_duration = EV_early_duration - i
   elif i == 0:
       EV_ontime_count += 1
   elif i > 0:
       EV_delay_count += 1
       EV_delay_duration = EV_delay_duration + i
(EV_delay_count, EV_delay_duration, EV_ontime_count, EV_early_count, EV_early_duration)

(15994, 640821.0, 1733, 30357, 175421.0)

In [31]:
EV_delay_count

15994

In [32]:
#HA counts & durations

HA_delay_count = 0
HA_delay_duration = 0
HA_early_count = 0
HA_early_duration = 0
HA_ontime_count = 0
for i in HA['DEPARTURE_DELAY']:
    if i < 0:
        HA_early_count += 1
        HA_early_duration = HA_early_duration - i
    elif i == 0:
        HA_ontime_count += 1
    elif i > 0:
        HA_delay_count += 1
        HA_delay_duration = HA_delay_duration + i
(HA_delay_count, HA_delay_duration, HA_ontime_count, HA_early_count, HA_early_duration)

(1869, 33296.0, 239, 4300, 24889.0)

In [33]:
HA_delay_count

1869

In [34]:
#MQ counts & durations

MQ_delay_count = 0
MQ_delay_duration = 0
MQ_early_count = 0
MQ_early_duration = 0
MQ_ontime_count = 0
for i in MQ['DEPARTURE_DELAY']:
    if i < 0:
        MQ_early_count += 1
        MQ_early_duration = MQ_early_duration - i
    elif i == 0:
        MQ_ontime_count += 1
    elif i > 0:
        MQ_delay_count += 1
        MQ_delay_duration = MQ_delay_duration + i
(MQ_delay_count, MQ_delay_duration, MQ_ontime_count, MQ_early_count, MQ_early_duration)

(12205, 516872.0, 1384, 13979, 75898.0)

In [35]:
MQ_delay_count

12205

In [36]:
#VX counts & durations

VX_delay_count = 0
VX_delay_duration = 0
VX_early_count = 0
VX_early_duration = 0
VX_ontime_count = 0
for i in VX['DEPARTURE_DELAY']:
    if i < 0:
        VX_early_count += 1
        VX_early_duration = VX_early_duration - i
    elif i == 0:
        VX_ontime_count += 1
    elif i > 0:
        VX_delay_count += 1
        VX_delay_duration = VX_delay_duration + i
(VX_delay_count, VX_delay_duration, VX_ontime_count, VX_early_count, VX_early_duration)

(1570, 45879.0, 284, 2793, 13832.0)

In [37]:
VX_delay_count

1570

### TRANSFORM: Creating a DataFrame of all the values
The counts and durations obtained from the previous step were then used to compile in one single dataframe. We learned that of all the airlines, United Air Lines Inc. was on time for the max count of 1955 even though the airline seemed to have the maximum delay duration!

In [38]:
delay_count = [UA_delay_count, AA_delay_count, US_delay_count, F9_delay_count, B6_delay_count, OO_delay_count, AS_delay_count, NK_delay_count, WN_delay_count, DL_delay_count, EV_delay_count, HA_delay_count, MQ_delay_count, VX_delay_count]
delay_duration = [UA_delay_duration, AA_delay_duration, US_delay_duration, F9_delay_duration, B6_delay_duration, OO_delay_duration, AS_delay_duration, NK_delay_duration, WN_delay_duration, DL_delay_duration, EV_delay_duration, HA_delay_duration, MQ_delay_duration, VX_delay_duration]
early_count = [UA_early_count, AA_early_count, US_early_count, F9_early_count, B6_early_count, OO_early_count, AS_early_count, NK_early_count, WN_early_count, DL_early_count, EV_early_count, HA_early_count, MQ_early_count, VX_early_count]
early_duration = [UA_early_duration, AA_early_duration, US_early_duration, F9_early_duration, B6_early_duration, OO_early_duration, AS_early_duration, NK_early_duration, WN_early_duration, DL_early_duration, EV_early_duration, HA_early_duration, MQ_early_duration, VX_early_duration]
ontime_count = [UA_ontime_count, AA_ontime_count, US_ontime_count, F9_ontime_count, B6_ontime_count, OO_ontime_count, AS_ontime_count, NK_ontime_count, WN_ontime_count, DL_ontime_count, EV_ontime_count, HA_ontime_count, MQ_ontime_count,VX_ontime_count]
flights_rep = {'Airline Code': airlines_df['Airline Code'], 'Airline': airlines_df['AIRLINE'], 'Delay Counts': delay_count, 'Delay Duration': delay_duration, 'Early Count': early_count, 'Early Duration': early_duration, 'On Time Count': ontime_count}
flights_rep_df = pd.DataFrame(data=flights_rep)
flights_rep_df

,Airline Code,Airline,Delay Counts,Delay Duration,Early Count,Early Duration,On Time Count
0,UA,United Air Lines Inc.,20202,587865.0,15206,69059.0,1955
1,AA,American Airlines Inc.,16512,582400.0,24661,128041.0,1901
2,US,US Airways Inc.,10008,273101.0,20982,105027.0,1488
3,F9,Frontier Airlines Inc.,2974,145765.0,3530,25136.0,231
4,B6,JetBlue Airways,7826,273265.0,11681,68684.0,975
5,OO,Skywest Airlines Inc.,16449,731503.0,28307,171645.0,1899
6,AS,Alaska Airlines Inc.,3577,104507.0,8989,64106.0,585
7,NK,Spirit Air Lines,3700,140911.0,4599,28064.0,333
8,WN,Southwest Airlines Co.,43588,1111823.0,48056,184820.0,6416
9,DL,Delta Air Lines Inc.,19440,526879.0,39429,151941.0,4807
10,EV,Atlantic Southeast Airlines,15994,640821.0,30357,175421.0,1733
11,HA,Hawaiian Airlines Inc.,1869,33296.0,4300,24889.0,239
12,MQ,American Eagle Airlines Inc.,12205,516872.0,13979,75898.0,1384
13,VX,Virgin America,1570,45879.0,2793,13832.0,284

### TRANSFORM: Sorting values by the Delay Counts
Here we sorted the values by the Delay Counts to display in highest to lowest order.  Surprisingly we observed that Southwest Airlines Co. had the highest Delay Count of all the 14 airlines as compared to Virgin America that had the least delays.

In [39]:
flights_rep_df.sort_values(by=['Delay Counts'], ascending=False)

,Airline Code,Airline,Delay Counts,Delay Duration,Early Count,Early Duration,On Time Count
8,WN,Southwest Airlines Co.,43588,1111823.0,48056,184820.0,6416
0,UA,United Air Lines Inc.,20202,587865.0,15206,69059.0,1955
9,DL,Delta Air Lines Inc.,19440,526879.0,39429,151941.0,4807
1,AA,American Airlines Inc.,16512,582400.0,24661,128041.0,1901
5,OO,Skywest Airlines Inc.,16449,731503.0,28307,171645.0,1899
10,EV,Atlantic Southeast Airlines,15994,640821.0,30357,175421.0,1733
12,MQ,American Eagle Airlines Inc.,12205,516872.0,13979,75898.0,1384
2,US,US Airways Inc.,10008,273101.0,20982,105027.0,1488
4,B6,JetBlue Airways,7826,273265.0,11681,68684.0,975
7,NK,Spirit Air Lines,3700,140911.0,4599,28064.0,333
6,AS,Alaska Airlines Inc.,3577,104507.0,8989,64106.0,585
3,F9,Frontier Airlines Inc.,2974,145765.0,3530,25136.0,231
11,HA,Hawaiian Airlines Inc.,1869,33296.0,4300,24889.0,239
13,VX,Virgin America,1570,45879.0,2793,13832.0,284

In [40]:
#flights_rep_df.dtypes

### TRANSFORM: Finding Top 5 Airline Routes
Using the columns Origin Airport and Destination Airport, we found the top 5 airline routes from Jan 2015 and arranged them from highest to lowest order.

In [41]:
flights_jan_df['ORIGIN_DESTINATION'] = flights_jan_df['ORIGIN_AIRPORT'] +" "+ flights_jan_df['DESTINATION_AIRPORT']

In [42]:
flights_jan_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,SCHEDULED_TIME,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,ORIGIN_DESTINATION
0,2015,1,1,4,AS,98,ANC,SEA,005,2354,-11.0,205,0430,0408,-22.0,ANC SEA
1,2015,1,1,4,AA,2336,LAX,PBI,010,0002,-8.0,280,0750,0741,-9.0,LAX PBI
2,2015,1,1,4,US,840,SFO,CLT,020,0018,-2.0,286,0806,0811,5.0,SFO CLT
3,2015,1,1,4,AA,258,LAX,MIA,020,0015,-5.0,285,0805,0756,-9.0,LAX MIA
4,2015,1,1,4,AS,135,SEA,ANC,025,0024,-1.0,235,0320,0259,-21.0,SEA ANC

In [43]:
flights_jan_grouped_df = flights_jan_df['ORIGIN_DESTINATION'].value_counts(ascending = False)

### TRANSFORM: Finding the max count of airline routes
Here's how we derived the max count of airline routes that flew in Jan 2015, indicating how many flights flew from the origin destination to the arrival destination. Los Angeles to New York route had the max count of flights of all during that timeframe.

In [44]:
flights_jan_grouped_df.columns = ['ORIGIN_DESTINATION','COUNT']
flights_jan_grouped_df.head(10)

LAX JFK    1084
SFO LAX    1082
JFK LAX    1082
LAX SFO    1067
LAS LAX     950
LAX LAS     920
HNL OGG     815
OGG HNL     812
LGA ORD     783
ORD LGA     768
Name: ORIGIN_DESTINATION, dtype: int64

### TRANSFORM: Creating dictionaries and dataframe for Top Five Routes
We created top route dictionary and then placed it in a dataframe so we could use it to load into our SQLlite DB.

In [45]:
flights_jan_grouped_dict= flights_jan_grouped_df.to_dict()

In [46]:
airports_df.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [47]:
top_five_origin_routes = ['LAX','JFK','SFO','LAX','LAS']
top_five_destination_routes = ['JFK','LAX','LAX','SFO','LAX']
top_route_counts = [1084,1082,1082,1067,950]

top_route_dict = {"ORIGIN_IATA_CODE": top_five_origin_routes,"DESTINATION_IATA_CODE":top_five_destination_routes,"COUNT":top_route_counts}

In [48]:
top_5_route_df = pd.DataFrame(top_route_dict)
top_5_route_df

  ORIGIN_IATA_CODE DESTINATION_IATA_CODE  COUNT
0              LAX                   JFK   1084
1              JFK                   LAX   1082
2              SFO                   LAX   1082
3              LAX                   SFO   1067
4              LAS                   LAX    950

### LOAD: Loading the resulting DataFrames to SQLite Database
Using SQLAlchemy class objects, we created database connections to SQLite DB. Using the same connection, we loaded the dataframes to SQLite tables:
* Flights_Jan
* Flight_Delay_Statistics
* Top_Five_Routes

In [69]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session, sessionmaker
from sqlalchemy import inspect, func, Table, MetaData, Column, Integer, String, BIGINT, TEXT, FLOAT, select
from sqlalchemy.schema import DropTable
from sqlalchemy.engine import reflection
import pymysql
pymysql.install_as_MySQLdb()

In [70]:
#rds_connection_string = "root:{password}@127.0.0.1:3306/myspace_db"
#engine = create_engine("mysql+pymysql://root:{password}@127.0.0.1:3306/myspace_db")
#engine = create_engine("sqlite:///flights_db.db")
engine = create_engine(f'mysql://root:{password}@localhost:3306/flights_db')

### LOAD: Check for tables

In [71]:
# engine.table_names()
engine.table_names()

['flight_delay_statistics', 'flights_jan', 'top_five_routes']

### LOAD: Using Pandas to load csv converted DataFrame into database

In [76]:
#flights_jan_df.to_sql(name='Flights_Jan', con=engine, if_exists = 'replace', index=False)
flights_jan_df.to_sql('flights_jan', con=engine, if_exists = 'replace')

In [77]:
flights_rep_df.to_sql(name='flight_delay_statistics', if_exists = 'replace',con=engine, index=False)

In [78]:
top_5_route_df.to_sql(name='top_five_routes', if_exists = 'replace',con=engine, index=False)

### LOAD: Inspecting the columns in the loaded tables

In [89]:
inspector = inspect(engine)

In [90]:
columns = inspector.get_columns('flights_jan')
for c in columns:
    print(c['name'], c["type"])

index BIGINT(20)
YEAR BIGINT(20)
MONTH BIGINT(20)
DAY BIGINT(20)
DAY_OF_WEEK BIGINT(20)
AIRLINE TEXT
FLIGHT_NUMBER BIGINT(20)
ORIGIN_AIRPORT TEXT
DESTINATION_AIRPORT TEXT
SCHEDULED_DEPARTURE TEXT
DEPARTURE_TIME TEXT
DEPARTURE_DELAY DOUBLE
SCHEDULED_TIME BIGINT(20)
SCHEDULED_ARRIVAL TEXT
ARRIVAL_TIME TEXT
ARRIVAL_DELAY DOUBLE
ORIGIN_DESTINATION TEXT

In [91]:
columns = inspector.get_columns('flight_delay_statistics')
for c in columns:
    print(c['name'], c["type"])

Airline Code TEXT
Airline TEXT
Delay Counts BIGINT(20)
Delay Duration DOUBLE
Early Count BIGINT(20)
Early Duration DOUBLE
On Time Count BIGINT(20)

In [92]:
columns = inspector.get_columns('top_five_routes')
for c in columns:
    print(c['name'], c["type"])

ORIGIN_IATA_CODE TEXT
DESTINATION_IATA_CODE TEXT
COUNT BIGINT(20)

### LOAD: Confirm data has been added by querying the Top Five Most Frequent Routes

In [93]:
meta = MetaData()
meta.reflect(bind=engine)
table = meta.tables['top_five_routes']
select_st = table.select()
conn = engine.connect()
res = conn.execute(select_st)
for row in res:
    print(row)

('LAX', 'JFK', 1084)
('JFK', 'LAX', 1082)
('SFO', 'LAX', 1082)
('LAX', 'SFO', 1067)
('LAS', 'LAX', 950)

### Table Drop Scripts (To be run before next execution)

In [94]:
# m = MetaData()
# table = Table('Flights_Jan', m,
#     Column('YEAR', BIGINT),
#     Column('MONTH', BIGINT),
#     Column('DAY', BIGINT),
#     Column('DAY_OF_WEEK', BIGINT),
#     Column('AIRLINE', TEXT),
#     Column('FLIGHT_NUMBER', BIGINT),
#     Column('ORIGIN_AIRPORT', TEXT),
#     Column('DESTINATION_AIRPORT', TEXT),
#     Column('SCHEDULED_DEPARTURE', TEXT),
#     Column('DEPARTURE_TIME', TEXT),
#     Column('DEPARTURE_DELAY', FLOAT),
#     Column('SCHEDULED_TIME', BIGINT),
#     Column('SCHEDULED_ARRIVAL', TEXT),
#     Column('ARRIVAL_TIME', TEXT),
#     Column('ARRIVAL_DELAY', FLOAT),
#     Column('ORIGIN_DESTINATION', TEXT))
# table.drop(engine)

In [95]:
# m = MetaData()
# table = Table('Flight_Delay_Statistics', m,
#     Column('Airline Code', TEXT),
#     Column('Airline', TEXT),
#     Column('Delay Counts', BIGINT),
#     Column('Delay Duration', FLOAT),
#     Column('Early Count', BIGINT),
#     Column('Early Duration', FLOAT),
#     Column('On Time Count', BIGINT))
# table.drop(engine)

In [96]:
# m = MetaData()
# table = Table('Top_Five_Routes', m,
#     Column('ORIGIN_IATA_CODE', TEXT),
#     Column('DESTINATION_IATA_CODE', TEXT),
#     Column('COUNT', BIGINT))
# table.drop(engine)

# ETL complete